<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Gambiarra Algazarra </title>
	  <link href="../src/assets/stylites/variations.cs" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">

    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">

    <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css"> -->

  <style>

      body, html {
        font-family: 'News Cycle', sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'News Cycle', sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
      }

      .material-icons, .fas {
        vertical-align: middle;
      }

      .dignity {
        font-family: 'News Cycle', sans-serif !important;
        font-weight: 300 !important;
      }
      i {
        vertical-align: middle;
      }

      /* Rules for sizing the icon. */
      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; }
      .material-icons.md-36 { font-size: 36px; }
      .material-icons.md-48 { font-size: 48px; }
      .material-icons.md-60 { font-size: 60px; }
      .material-icons.md-72 { font-size: 72px; }
      .material-icons.md-84 { font-size: 84px; }
      .material-icons.md-96 { font-size: 96px; }

      /* Rules for using icons as black on a light background. */
      .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
      .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

      /* Rules for using icons as white on a dark background. */
      .material-icons.md-light { color: rgba(255, 255, 255, 1); }
      .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
