  @import "../../../node_modules/vue-material/dist/theme/engine";

  @include md-register-theme("default", (
    primary: #607d8b, 
    accent: #848482,
    error: #997570,
    positive: #75816b,
  ));

@import "../../../node_modules/vue-material/dist/theme/all";